.animated-letter:nth-child(1) {
  animation: colorChange1 1.5s infinite;
}

.animated-letter:nth-child(2) {
  animation: colorChange1 1.5s infinite 0.1s;
}

.animated-letter:nth-child(3) {
  animation: colorChange1 1.5s infinite 0.2s;
}

.animated-letter:nth-child(4) {
  animation: colorChange1 1.5s infinite 0.3s;
}

.animated-letter:nth-child(5) {
  animation: colorChange1 1.5s infinite 0.4s;
}

.animated-letter:nth-child(6) {
  animation: colorChange1 1.5s infinite 0.5s;
}

.animated-letter:nth-child(7) {
  animation: colorChange1 1.5s infinite 0.6s;
}

.animated-letter:nth-child(8) {
  animation: colorChange1 1.5s infinite 0.7s;
}

.animated-letter:nth-child(9) {
  animation: colorChange1 1.5s infinite 0.8s;
}

.animated-letter:nth-child(10) {
  animation: colorChange1 1.5s infinite 0.9s;
}
@keyframes colorChange1 {
  0% {
    color: #ff0000;
  }
  40% {
    color: #0925f9;
  }
  60% {
    color: #80ff00;
  }
  80% {
    color: #00ff80;
  }
  100% {
    color: #c300ff;
  }
}
