html,
body {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  overflow: hidden; /* Prevent scrolling */
}

.arcade-container {
  position: relative;
  width: 100%;
  max-width: 2500px;
  display: flex;
  margin: 0 auto;
}

.arcade-img {
  width: 100%;
  height: 100vh;
  display: block;
  object-fit: cover;
  background-color: #171717;
}

.container-button {
  position: absolute;
  top: 45%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
  width: 100%;
}

.nes-btn {
  width: 150px;
  height: 85px;
}

.Arrow {
  position: absolute;
  top: 35%;
  cursor: pointer;
}

#left {
  left: 17%;
  animation: LeftArrow 1s infinite;
}

#right {
  left: 69%;
  animation: RigthArrow 1s infinite;
}

@keyframes RigthArrow {
  0% {
    transform: translateX(0);
  }
  50% {
    transform: translateX(2%);
  }
  100% {
    transform: translateX(0);
  }
}

@keyframes LeftArrow {
  0% {
    transform: translateX(0);
  }
  50% {
    transform: translateX(-2%);
  }
  100% {
    transform: translateX(0);
  }
}

@media (max-width: 1200px) {
  .nes-btn {
    width: 120px;
    height: 70px;
  }
}

@media (max-width: 768px) {
  .nes-btn {
    width: 100px;
    height: 60px;
  }
}

@media (max-width: 480px) {
  .nes-btn {
    width: 80px;
    height: 50px;
    font-size: 10px;
  }
}

.slideshow-container {
  position: absolute;
  width: 100%;
  max-width: 500px;
  margin: auto;
  overflow: hidden;
  top: 30%;
  left: 20%;
  right: 200px;
}

.slides {
  display: flex;
  transition: transform 0.5s ease-in-out;
}

.slide {
  min-width: 100%;
  box-sizing: border-box;
}

.title {
  font-size: 30px;
  font-weight: 700;
  color: #fff;
  top: 70%;
  margin-left: 40px;
  margin-bot: 50px;
}
